{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mt-5">Home</h1>
                <hr>
                <p>Welcome to our platform! To access our API, please choose a subscription plan from the <a href="members/plans">Plans</a> page.</p>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>

    </script>
{{end}}
