{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mt-5">Home</h1>
                <hr>
                <p>Welcome to our platform! To buy our API and access it, please choose a subscription plan from the <a href="members/plans">Plans</a> page.</p>
                <p>We will send you a dedicated Manual after subscription that will tell you everything about how to use our Api in your personal projects & what routes come with the subscription packages!</p>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>

    </script>
{{end}}
